<!DOCTYPE html>
{% load static %}
{% load custom_tags %}

<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&amp;display=swap" rel="stylesheet"/>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Russell Sage Dining Hall</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>

<body style="background-color: whitesmoke;">
<div class="header-container">
<div class="overlay-box"></div>

<img alt="SwipeSaver" src="{% static 'final_logo.png' %}"/>

<h1>RUSSELL SAGE DINING HALL</h1>
</div>

<!-- Top-right user status -->
<div class="user-status">
    {% if user.is_authenticated %}
        <!-- Display when the user is logged in -->
        <span>Logged in as {{ user.username }}</span>
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
</div>

<div class="scrollmenu">
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'commons' %}">Commons</a>
    <a href="{% url 'barh' %}">Barh</a>
    <a href="{% url 'russellsage' %}">Russell Sage</a>
    <a href="{% url 'blitman' %}">Blitman</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
</div>

<div class="center-container" style="margin-top: 20px">
    <p style="text-align: center; font-size: 24px;">Total Calories: <span id="totalCalories">0</span>
        <button class="button" onclick="clearCalories()" style="font-size: 20px; border: none; color: red;">Clear Calories</button>
    </p>
    <p id="time" class="time-style"></p>
</div>

<!-- Login alert if not authenticated -->
{% if not user.is_authenticated %}
<div class="login-alert">
    <p>You need to be logged in to vote.</p> 
</div>
{% endif %}

{% if breakfast_items|length > 0 %}
    <p class="meal-title">BREAKFAST</p>
    <div>
        {% render_meal_info breakfast_items ratings is_authenticated %}
    </div>
{% endif %}

{% if brunch_items|length > 0 %}
	<p class="meal-title">BRUNCH</p>
	<div>
		{% render_meal_info brunch_items ratings is_authenticated%}
	</div>
{% endif %}

{% if lunch_items|length > 0 %}
    <p class="meal-title">LUNCH</p>
    <div>
        {% render_meal_info lunch_items ratings is_authenticated %}
    </div>
{% endif %}

{% if dinner_items|length > 0 %}
    <p class="meal-title">DINNER</p>
    <div>
        {% render_meal_info dinner_items ratings is_authenticated %}
    </div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function getCurrentTime() {
        var date = new Date();
        var options = { timeZone: 'America/New_York', hour12: true };
        var timeString = date.toLocaleTimeString('en-US', options);
        document.getElementById("time").textContent = "Time in Troy NY (EST): " + timeString;
    }
    getCurrentTime();
    setInterval(getCurrentTime, 1000);
</script>

<script>
    let totalCalories = 0;
    function addCalories(calories){
        totalCalories += calories;
        document.getElementById("totalCalories").textContent = totalCalories;
    }
    function clearCalories(){
        totalCalories = 0;
        document.getElementById("totalCalories").textContent = totalCalories;
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var acc = document.querySelectorAll(".accordion");
        for (var i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function() {
        $(document).on('click', '.star-rating .star', function() {
            var rating = $(this).data('value');
            var station = $(this).closest('.rating-section').data('station');
            var dining_hall = $(this).closest('.rating-section').data('dining-hall');
            var meal = $(this).closest('.rating-section').data('meal');

            submitRating(rating, station, dining_hall, meal);
        });

        function submitRating(rating, station, dining_hall, meal) {
            fetch('/russellsage/submit-rating/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ rating: rating, station: station, dining_hall: dining_hall, meal: meal })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    updateStarRatings(station, meal, rating);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function updateStarRatings(station, meal, newRating) {
            const starElements = $(`.rating-section[data-station="${station}"][data-meal="${meal}"] .star`);
            starElements.each(function() {
                const starValue = $(this).data('value');
                $(this).toggleClass('selected', starValue <= newRating);
            });
        }
    });
</script>
<script>
    const ratingSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/log/'
    );

    ratingSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const ratingsArray = data.average_ratings;
        ratingsArray.forEach(item => {
            const ratingElement = document.getElementById(`rating-${item.station}-${item.meal}`);
            if (ratingElement) {
                ratingElement.textContent = item.average_rating;
            }
        });
    };

    ratingSocket.onclose = function(e) {
        console.error('Rating socket closed unexpectedly');
    };
</script>
</body>
</html>