<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static "homepage.css" %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwipeSaver Homepage</title>
</head>

<body style="background-color: whitesmoke;">
    
    <div class="header-container">
        <img src="{% static 'logo.png' %}" alt="SwipeSaver" class="logo">
    </div>        

    <div class="scrollmenu">
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'commons' %}">Commons Dining Hall</a>    
        <a href="{% url 'barh' %}">Barh Dining Hall</a>    
        <a href="{% url 'russellsage' %}">Russell Sage Dining Hall</a>
        <a href="#blitman">Blitman Dining Hall</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <p id="time" style="text-align: right; font-size: 24px; margin-left: 40px; margin-right: 10px; margin-top:15px"></p>

    <div id="output" hidden="hidden" style="text-align: center; margin: 20px;"></div>

    <div class="red-box"></div>

    <div class="dining-halls-container">
        <div class="image-container">
            <img src="{% static 'commons_cropped.png' %}" alt="Commons">
            <button class ="title-overlay">
                <p>Commons</p>
            </button>

            <div class="panel">
                <hr class="solid-line">
                <p id="commons_status">Status: Checking...</p>
                <hr class="dashed-line">                
                
                <div id="commons_distance"></div>
                <hr class="dashed-line">

                <p >View Menu: </p>
                <a href="{% url 'commons' %}">Commons Dining Hall</a>    
                <hr class="dashed-line">

                <p id = "commons_hours"></p>
                <hr class="dashed-line">

                <p >Rating:</p>
                <hr class="dashed-line">
            </div>
        </div>

        <div class="image-container">
            <img src="{% static 'barh_cropped.png' %}" alt="BARH">
            <button class ="title-overlay">
                <p>BARH</p>
            </button>
            
            <div class="panel">
                <hr class="solid-line">
                <p id="barh_status">Status: Checking...</p>
                <hr class="dashed-line">

                <div id="barh_distance"></div>
                <hr class="dashed-line">
                
                <p >View Menu: </p>
                <a href="{% url 'barh' %}">BARH Dining Hall</a>    
                <hr class="dashed-line">  

                <p id = "barh_hours" style="font-size: 25px; margin-top: 10px; margin-left: 20px"></p>
                <hr class="dashed-line">

                <p >Rating:</p>
                <hr class="dashed-line">              
            </div>
        </div>
    </div>

    <div class="red-box"></div>

    <div class="dining-halls-container">
        <div class="image-container">
            <img src="{% static 'sage_cropped.png' %}" alt="Sage">
            <button class ="title-overlay">
                <p>Sage</p>
            </button>

            <div class="panel">
                <hr class="solid-line">
                <p id="sage_status">Status: Checking...</p>
                <hr class="dashed-line">

                <div id="sage_distance"></div>
                <hr class="dashed-line">

                <p >View Menu: </p>
                <a href="{% url 'russellsage' %}">Russell Sage Dining Hall</a>    
                <hr class="dashed-line">

                <p id = "sage_hours" style="font-size: 25px; margin-top: 10px; margin-left: 20px"></p>
                <hr class="dashed-line">

                <p >Rating:</p>
                <hr class="dashed-line">
            </div>
        </div>

        <div class="image-container">
            <img src="{% static 'blitman_cropped.png' %}" alt="Blitman">
            <button class ="title-overlay">
                <p>Blitman</p>
            </button>

            <div class="panel">
                <hr class="solid-line">
                <p id="blitman_status">Status: Checking...</p>
                <hr class="dashed-line">

                <div id="blitman_distance"></div>
                <hr class="dashed-line">

                <p >View Menu: </p>
                <a href="#blitman">Blitman Dining Hall</a>    
                <hr class="dashed-line">

                <p id = "blitman_hours" style="font-size: 25px; margin-top: 10px; margin-left: 20px"></p>           
                <hr class="dashed-line">

                <p >Rating:</p>
                <hr class="dashed-line">
            </div>
        </div>
    </div>

    <div class="footer">
        <p>An RCOS project</p>
        <button onclick="scrollToTop()" id="to_top">BACK TO TOP</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'distanceTracker.js' %}"></script>
    <script src="{% static 'homepage.js' %}"></script>

</body>
</html>